<h1 style="text-align:center">Moonwalk</h1><br>

Hello <%= @user.username %>,<br><br>
No worriers, we forget our passwords as well. Here's a link to reset your password!
<%= link_to "Password Reset", @url %><br>

<img style="height:150px; width: 250px; padding-left: 30%"src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1252803/PUPLibnyzYmw3pM/Moonwalk7.gif" alt="">
