<h1 style="text-align:center">Moonwalk</h1><br>

Hello <%= @user.username %>,<br><br>
No worriers, we forget our passwords as well. Here's a link to reset your password!
<%= link_to "Password Reset", @url %><br>