<%= render "nav", locals: { user: @user } %>
<%= render "loginmodal" %>
<%= render "signmodal" %>
<%= render "resetmodal" %>


<!-- THAT SICK HEADER -->
<div id="headerwrap">
  <div class="container">
    <h1>Calculate your Return On Investment before you buy. </h1> 
    <h3>A short description of our Calculation:</h3>
    <ul>
      <li>We take the sale price and remove the 25% down payment you'd need for an income property loan.</li>
      <li>Calculate the mortgage on a 30yr/4.25% loan.</li>
      <li>Subtract all the management costs (local vacancy rates, bills, repairs, property taxes)</li>
      <li>Finally, we estimate the average monthly rent in the area to determine how much you'll make each month on your investment.</li>
    </ul>
  </div>
</div>


<!-- COOL FLAT ICONS -->

<div class="icons"  id="startchange" style=" padding-top: 50px; padding-bottom: 30px;">
<div class="container">
    <div class="row  centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Sign up now.<br></h1>
        <h3>These are some of the benefits you can receive!</h3>
      </div>
    </div>
    
    <div class="row  centered" style="margin-top: 30px">
      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Clock-icon.png" width="180" alt="">
        <h4>1 - SAVE TIME</h4>
        <p>Compare local properties against the average monthly rent of that area.</p>
      </div>

      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Wallet-icon.png" width="180" alt="">
        <h4>2 - EARNING POTENTIAL</h4>
        <p>See what properties will return the most on your investment.</p>

      </div>

      <div class="col-lg-4">
        <img src="https://icons.iconarchive.com/icons/flat-icons.com/flat/512/Safe-icon.png" width="180" alt="">
        <h4>3 - SECURE</h4>
        <p>Create favorite properties that are secure to your account.</p>

      </div>
    </div>
    <hr>
  </div>
</div>


<div id="home2">
    <div id="testimonials">
      <div class="container">
        <div class="row centered">
          <div class="col-md-12">
            <h1>See what early adopters have to say.</h1>
          </div>
        </div>
        <div class="row" style="margin-top: 30px;">
          <div class="col-sm-6">
            <div class="testimonial pull-right">
              <div class="quote">
                "An easy way to invest in properties. Truly revolutionary."
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/4/000/15e/337/306d44c.jpg" class="img-circle" alt="testimonial1">
                <div class="name">Elie Schoppik</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
              "Using this site is like a magical leprechaun giving me a pot of gold!"
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/6/005/04d/2dc/1ef8b4a.jpg" class="img-circle" alt="testimonial2">
                <div class="name">Ilias Tsangaris</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
                "Simply Amazing..."
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://avatars2.githubusercontent.com/u/134332?v=3&s=400" class="img-circle" alt="testimonial2">
                <div class="name">Tim Licata</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="testimonial">
              <div class="quote">
                "Finally, a fast, simple way to decide a property's rental profit potential."
                <div class="arrow-down">
                          <div class="arrow"></div>
                          <div class="arrow-border"></div>
                      </div>
              </div>
              <div class="author">
                <img src="https://media.licdn.com/media/p/7/000/1e8/00a/1d67eae.jpg" class="img-circle" alt="testimonial2">
                <div class="name">Markus Guehrs</div>
                <div class="company">General Assembly</div>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>


<!-- TEAMMMATES -->
<div class="team">
<div class="container">
    <div class="row  centered">
      <div class="col-lg-6 col-lg-offset-3">
        <h1>Our Awesome Team.</h1>
        <h3>Except Switch he's the worst.</h3>
      </div>
    </div><!-- /row -->
    
    <div class="row  centered" style="margin-top: 30px;">
      <div class="col-lg-3">
        <img class="img-circle" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1252803/PAbVuSxjlMBi34S/Switch.jpg" width="140" height="150px" alt="">
        <h4>Switch Thomas</h4>
        <p>The absolute worst.</p>
      </div><!--/col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="https://media.licdn.com/media/p/6/005/09a/2a5/347fb36.jpg" width="140" height="150px" alt="">
        <h4>Ryan Shim</h4>
        <p>Sports Enthusiast<br>I love to program and I love pizza.<br>Nodemon.</p>

      </div><!--/col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="https://s3.amazonaws.com/uploads.hipchat.com/39979/1240693/sdCiAECOveO0WJ5/upload.png" width="140" height="150px" alt="">
        <h4>Rajeev Dhar</h4>
        <p>Currently, Out of Order</p>
      </div><!--/col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="https://media.licdn.com/media/p/2/000/1ed/1da/01f3895.jpg" width="140" height="150px" alt="">
        <h4>Calvin Jhunjhnuwala</h4>
        <p>Scraping data like a pro.</p>
      </div><!--/col-lg-3 -->
    </div><!-- /row -->
    <hr>
  </div><!-- /container -->
</div>


<div class="footer">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-6 col-lg-offset-6">
        <p>Created by the most awesome team... The Dream Team</p>
      </div>
    </div>
  </div>
</div>
  
