<%= render "nav", locals: { user: @user } %>
<div id="headerwrap">
  <div class="container">
  
<h1>  This is THE APP PAGE!!!!</h1>


<a href = "/logout" class = "btn btn-danger">Logout</a>
</div>
</div>
