<%= render "nav", locals: { user: @user } %>

<div class="main" style="height: 500px; overflow-y: scroll;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Multi-Unit ROI Calculator</h2>
        <br>
        <form class ="addtolist" action="javascript:void(0);">
          <br>
          <!-- <input id="city" class="draft" type="text" placeholder="City" autofocus> -->
          <!-- <select id="city" class="draft" autofocus name="mydropdown"> -->
          <select class="form-control draft" id="city" autofocus >
            <option>Oakland</option>
            <option>San Francisco</option>
            <option>Los Angeles</option>
            <option>Portland</option>
            <option>Las Vegas</option>
          </select>
          <br>
          <br>
          <input type="submit" value="Find Now" class="btn">
        </form>

        <table class="table">
        <thead>
          <th>ROI</th>
          <th>Address</th>
          <th>Downpayment</th>
          <th>Mortgage</th>
          <th>Monthly Income</th>
          <th>Favorite</th>
        </thead>
        <br>  
        <tbody class="tableData">
        </tbody>
        </table>

      </div>
      <div id="favorite" class="col-md-4">
        <h2>Your Interests</h2>
        <h4><%= @current_user.username %></h4>
        <ul id="myFavs">
        <% @current_user.favorites.each do |fav| %>
          <li><%= fav.roi %><a class = 'deleteBtn' data-id="<%= fav.id%>">X</a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>  
</div>


