<%= render "nav", locals: { user: @user } %>

<div class="container">
  <h1><%= @current_user.username %></h1>
  <h4>Hi, Ryan Shim is the bestdafdafsfd</h4>
</div>

<a href = "/logout" class = "btn btn-danger">Logout</a>
</div>
</div>
