<%= render "nav", locals: { user: @user } %>

<div class="main" style="height: 550px; overflow-y: scroll;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-lg-8 col-sm-8">
        <h2>Multi-Unit ROI Calculator<span>
            <img style="height:150px; width: 300px; margin-left: 30px;"src="http://static.skillshare.com/uploads/project/b22a02c8439d20d24106f5d970c4d83c/5033ede7" alt="">
          </span></h2>
        <form class ="addtolist" action="javascript:void(0);">
          <br>
          <!-- <input id="city" class="draft" type="text" placeholder="City" autofocus> -->
          <!-- <select id="city" class="draft" autofocus name="mydropdown"> -->
          <select class="form-control draft" id="city" style="width:25%;"autofocus >
            <option>Oakland</option>
            <option>San Francisco</option>
            <option>Los Angeles</option>
            <option>Portland</option>
            <option>Las Vegas</option>
            <option>Seattle</option>
          </select>
          <br>
          <br>
          <input type="submit" value="Find Now" class="btn">
        </form>

        <table class="table">
        <thead>
          <th>ROI</th>
          <th>Address</th>
          <th>Downpayment</th>
          <th>Mortgage</th>
          <th>Monthly Income</th>
          <th>Favorite</th>
        </thead>
        <br>  
        <tbody class="tableData">
        </tbody>
        </table>

      </div>
      <div id="favorite" class="col-md-4 col-lg-4 col-sm-4">
        <h2>Your Interests</h2>
        <h4><%= @current_user.username %></h4>
        <ul id="myFavs">
        <% @current_user.favorites.each do |fav| %>
          <li><%= fav.roi %><a class = 'deleteBtn' data-id="<%= fav.id%>">X</a></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>  
</div>


